:root {
    --color-violet: #4D2472;
    --color-medium-light-violet: #765298;
    --color-light-violet: #9B73C0;
    --color-success: #93C547;
    --color-info: #009EE4;
    --color-danger: #D04040;
    --color-light: #E5E5E5;
    --color-muted: #555555;
    --color-dark: #302828;
    --color-black: #0E0D0D;
}


/*//////////////////////////// TEXTOS ///////////////////////////////////////////*/

.titulo1 {
    font-size: 32px;
    font-family: 'Roboto';
    font-weight: bold;
    color: var(--color-black);
}

.text-user-name {
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: bold;
    color: var(--color-black);
}

.mini-text-user-name {
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: bold;
    color: var(--color-black);
}

.title-text {
    font-size: 15px;
    color: var(--color-black);
    font-family: 'Roboto';
    font-weight: normal;
}

.title-text-small {
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: normal;
    color: var(--color-black);
}

.text-muted {
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: normal;
    color: var(--color-muted);
}

.medium-text-muted {
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: normal;
    color: var(--color-muted);
}

.post-text {
    font-size: 17px;
    color: var(--color-muted);
    font-family: 'Roboto';
    font-weight: normal;
}

.text-link {
    font-size: 13px;
    color: var(--color-info);
    font-family: 'Roboto';
    font-weight: normal;
}

.text-link-medium-bold {
    font-size: 15px;
    color: var(--color-info);
    font-family: 'Roboto';
    font-weight: bold;
}

.text-link-big {
    font-size: 17px;
    color: var(--color-info);
    font-family: 'Roboto';
    font-weight: normal;
}

.color-hr-login {
    color: #b8b4b4;
}


/*//////////////////////////// FIN TEXTOS ///////////////////////////////////////////*/

.nav-height {
    height: 50px;
}

.navbar-color {
    background-color: var(--color-medium-light-violet);
}

.search {
    height: 40px;
    width: 394px;
}


/*////////////////////////////////////// Circulo de usuario en linea /////////////////////////////////*/

.line-span {
    top: 28px;
    left: 30px;
    width: 12px;
    height: 12px;
    background-color: var(--color-success);
}


/*////////////////////////////////////// FIN Circulo de usuario en linea /////////////////////////////////*/

.btn-color-light {
    background-color: var(--color-light);
    border: none;
    transition: all .5s ease;
}

.btn-color-light:hover {
    background-color: rgb(212, 212, 212);
}

.btn-color-light:active {
    background-color: var(--color-medium-light-violet);
    color: white;
}

.btn-color-light:focus {
    background-color: var(--color-medium-light-violet);
    color: white;
    border: solid 5px rgba(90, 90, 90, 0.308);
}

.btn-color-violet {
    background-color: var(--color-light-violet);
    color: white;
    border: none;
    border-radius: 3px;
    transition: background-color .5s ease;
}

.btn-color-violet:hover {
    background-color: var(--color-medium-light-violet);
}

.btn-color-violet:focus {
    background-color: var(--color-violet);
}


/*//////////////////////////// FORMULARIOS LOGIN-REGISTRARSE ///////////////////////////////////////////*/


/*////////////////////////////  PERFIL USUARIO ///////////////////////////////////////////*/
.user-img{
    top: 26rem;
}

.div-container-perfil{
    background-color: var(--color-light);
    height: 39rem;
}
/*//////////////////////////// PERFIL USUARIO ///////////////////////////////////////////*/


/*//////////////////////////// Lista de chats ///////////////////////////////////////////*/
.list-chats-on{
    position: fixed;
    bottom: 0;
    right: 4.8rem;
    width: 300px;
    height: 600px;
    transition: bottom 1s ease;
}

.list-chats-off{
    position: fixed;
    bottom: -560px;
    right: 4.8rem;
    width: 300px;
    height: 600px;
    transition: bottom 1s ease;
}

.list-chats-off .bi-chevron-compact-down{
    transform: rotate(180deg);
}

.list-chats-header{
    background-color: var(--color-medium-light-violet);
    height: 40px;
}

.list-chats-body{
    background-color: white;
    height: 560px
}

.chat-paragraph{
    max-width: 190px;
}

.chat-badge-color{
    background-color: var(--color-medium-light-violet);
    color: white;
}

.line-span-chats{
    top: 20px;
    left: 24px;
    width: 8px;
    height: 8px;
    background-color: var(--color-success);
}

.list-text-chats-header{
    padding-top: 4px;
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: bold;
    color: white;
}

.bi-chevron-compact-down{
    color: var(--color-light);
}

/*//////////////////////////// FIN Lista de chats ///////////////////////////////////////////*/

/*//////////////////////////// chat 1:1 ///////////////////////////////////////////*/
.chat-1-on{
    position: fixed;
    bottom: 0;
    right: 24rem;
    width: 300px;
    height: 300px;
    transition: bottom 1s ease;
}

.chat-1-off{
    position: fixed;
    bottom: -300;
    right: 24rem;
    width: 300px;
    height: 300px;
    transition: bottom 1s ease;
}

.chat-1-body{
    height: 300px;
}
.chat-1-body .chats{
    width: 304px;
    max-height: 223px;
    overflow-y: scroll;
}
.text-chat-1-header{
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: normal;
    color: white;
}

#btnOnVideoChat{
    color: white;
}

#btnOnPhone{
    color: white;
}

#btnCloseChat{
    color: white;
}

.text-align{
    text-align: right;
}

.text-chat-1{
    background-color: var(--color-light);
}

.btn-emoji{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    transition: all .5s ease;
}

.btn-emoji .bi-send{
    transform: rotate(45deg);
    color: var(--color-info);
    transition: all .2s ease-in;
}

.btn-emoji .bi-send:hover{
    transform: scale(1.2);
    color: rgb(107, 220, 255);
}

.btn-emoji:hover{
    transform: scale(1.2);
    color: var(--color-muted);
}

.input-chat{
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

/*////////////////////////////  FIN chat 1:1 ///////////////////////////////////////////*/